.tableContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px;
  row-gap: 16px;
  grid-row-gap: 16px;
}

table {
  border-collapse: collapse;
  width: 100%;
}

table tr:first-child {
  background-color: #5900ff;
  color: #dddddd;
}

td,
th {
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #252525;
  color: #dddddd;
}

tr:nth-child(odd) {
  background-color: #626262;
  color: #dddddd;
}

tr:hover {
  background-color: #8340ff;
  color: #dddddd;
  cursor: pointer;
}
